.main {
	display: flex;
	justify-content: space-around;
}

.basket__cart {
	background: #ffff;
	max-width: 1160px;
	width: 100%;
	font-family: 'Amazon Ember l';
	padding: 25px 23px 15px;
	margin: 30px 20px;
	.shopping_card {
		margin-bottom: 15px;
	}
	.title {
		display: flex;
		flex-direction: column;
		margin-bottom: 12px;
		h3 {
			font-size: 28px;
			line-height: 36px;
		}
		p {
			color: #007185;
			font-size: 14px;
			line-height: 20px;
		}
		span {
			font-size: 14px;
			line-height: 20px;
			color: #565659;
			align-self: flex-end;
		}
	}
	.subtitle {
		display: flex;
		justify-content: space-evenly;
		margin-bottom: 7px;
		.subtitle__left {
			img {
				max-width: 180px;
				width: 100%;
				height: 180px;
			}
		}
		.subtitle__right {
			max-width: 900px;
			width: 100%;
			.subtitle__price {
				display: flex;
				justify-content: space-between;
				padding-bottom: 5px;
				h3 {
					font-size: 18px;
				}
				span {
					font-family: 'Amazon Ember b';
					font-size: 18px;
					font-family: 700;
				}
			}

			.raiting {
				padding-bottom: 5px;
			}
			.stock {
				color: #007600;
				font-size: 12px;
				line-height: 16px;
				padding-top: 5px;
				padding-bottom: 5px;
			}
			.gift {
				font-size: 12px;
				line-height: 16px;
				padding-bottom: 5px;
				span {
					color: #007185;
				}
			}
			.quality {
				font-size: 12px;
				line-height: 16px;
				font-weight: bold;
				padding-bottom: 10px;
				span {
					font-weight: lighter;
				}
			}
			.quantity {
				height: 31px;
				font-size: 13px;
				line-height: 29px;
				max-width: 75px;
				width: 100%;
				border-radius: 7px;
				background: #f0f2f2;
				border: 1px solid #f0f2f2;
				font-size: 13px;
				line-height: 29px;
				font-family: 'Amazon Ember l';
				padding-bottom: 5px;
			}

			.edit {
				background: none;
				border-left: 1px solid #afb4b4;
				border-right: 1px solid #afb4b4;
				border-top: none;
				border-bottom: none;
				margin-left: 15px;
				color: #007185;
				font-family: 'Amazon Ember l';
				padding-left: 10px;
				padding-right: 10px;
				padding-bottom: 5px;
			}
		}
	}
	.line {
		border-top: 1px solid #afb4b4;
		max-width: 1116px;
	}
	.bottom {
		height: 70px;

		h3 {
			margin-top: 5px;
			font-size: 18px;
			line-height: 24px;
			font-weight: 400;
			span {
				font-family: 'Amazon  Ember b';
				font-weight: 700;
			}
		}
	}
}
.items {
	background: #ffff;
	max-width: 1160px;
	font-family: 'Amazon Ember l';
	padding: 25px 23px 15px;
	margin: 30px 20px;
	font-family: 'Amazon Ember';
	h3 {
		font-size: 24px;
		padding-bottom: 10px;
	}
	.items__subtitle {
		display: flex;

		p {
			font-size: 14px;
			font-weight: 700;
			padding: 10px;
		}
	}

	.line {
		border-top: 1px solid #afb4b4;
		max-width: 1116px;
	}
}

.subtotal {
	max-width: 300px;
	width: 100%;
	height: 150px;
	background: #ffff;
	padding: 25px 23px 15px;
	margin: 20px 20px 20px 0;
	h3 {
		font-size: 18px;
		line-height: 24px;
		font-family: 'Amazon Ember l';
		margin-bottom: 4px;
		span {
			font-family: 'Amazon Ember b';
		}
	}
	.checkbox {
		display: flex;
		justify-content: flex-start;
		padding-left: 15px;

		input {
			max-width: 13px;
			width: 13px;
			height: 13px;
			margin-right: 5px;
		}
		p {
			font-size: 14px;
			line-height: 20px;
			font-family: 'Amazon Ember l ';
			font-weight: 500;
		}
	}
	button {
		max-width: 258px;
		width: 100%;
		height: 29px;
		background: var(--search-bg);
		border: none;
		outline: none;
		border-radius: 7px;
		cursor: pointer;
		font-size: 14px;
		line-height: 19px;
		font-family: 'Amazon Ember l';
		margin-top: 20px;
		padding: 1px 6px;
	}
}
